/* Styles go here */
body {
    background-color: #21132C;
}
p {
    font-size: 10px;
}
p.right-align {
    text-align: right;
}


.nft-flex-layout {
    display: flex;
    margin:4em auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nft-wrapper {
    min-width:280px;
    max-width:320px;
    margin-bottom: 10px;
}
