/* Styles go here */
body {
    background-color: #21132C;
}

.navbar-ui {
    background-color: #8F00FF;
}
    .navbar-ui a {
        color: #ffffff;
        text-decoration: none;
    }

.nft-flex-layout {
    display: flex;
}


.nft-card {
    max-width:320px;
    padding:10px;
}
    .nft-card .card-image {
        overflow: hidden;
    }
        .nft-card .card-image img{
            height: 200px;
            margin-bottom: 10px;
        }
.token-price-container {
    display: flex;
    justify-content: space-between;
}