.paper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #21132c;
  }

.paper > h1 {
  margin:.4em 0 .8em;
}

/* Super Wraper for upload component */
.upload-wrapper {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  border-top: thin solid #21132c;
}


/* <label><button/></label> */
.upload-wrapper .button-ui-wrapper {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.upload-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,.2);
}
  .upload-hash-wrapper {
    padding: 10px 12px;
    min-height: 38px;
    border: thin solid #445DFF;
    width: 100%;
    color: #445Dff;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
  }
    .upload-hash-wrapper .gateway-link {
      font-size: .8em;
    }
    
.submit {
    /* margin: theme.spacing(3, 0, 2); */
}